body {
  background-color: #444140;
  padding-top: 5%;
}

.main-container {
  width: 35%;
  margin: 0 auto;
  border: 1px solid;
  background-color: #CAD2C5;
}

.row-1 {
  display: flex;
  justify-content: space-around;
  padding-top: 2%;
  padding-bottom: 2%;
}

.row-2 {
  display: flex;
  justify-content: space-around;
  padding-top: 2%;
}

.row-3 {
  display: flex;
  justify-content: space-around;
  padding-top: 2%;
}

.row-4 {
  display: flex;
  justify-content: space-around;
  padding-top: 2%;
}

.calc-display {
  background-color: #84A98C;
  text-align: end;
  margin: 3%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Dosis', sans-serif;
  font-size: xx-large;
  border: 1px solid;
  padding: 3px;
}

.calc-button {
  border: 1px solid;
  cursor: pointer;
  width: 15%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  font-size: x-large;
}

.calc-button:hover {
  box-shadow: 0 0 10px #0090C1, 0 0 3px #183446;
  border: 1px solid transparent;
}

.number {
  background-color: #747274;
}

.op-button {
  background-color: #747274;
}

.plus-button {
  width: 35%;
  background-color: #337357;
}

.type-c {
  background-color: #E3655B;
}

.credit {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  color: #84A98C;
}