.main-container {
  width: 60%;
  margin: 0 auto;
}

.row-1 {
  background-color: blue;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.row-2 {
  background-color: green;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.row-3 {
  background-color: red;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.row-4 {
  background-color: yellow;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.calc-display {
  background-color: teal;
  text-align: end;
}